@{
    ViewBag.Title = "Home Page";
}


<div class="col-lg-4">
    <div class="bs-component">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Book On-Line</h3>
            </div>
            <div class="panel-body">
                <p> Book a vehicle in less than a minute through our extremely user friendly Website. </p>
                
                <p> Book a vehicle in less than a minute through our extremely user friendly Website. </p>
                
                <p> Book a vehicle in less than a minute through our extremely user friendly Website. </p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="bs-component">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Road Side Assistance</h3>
            </div>
            <div class="panel-body">
                <p> Ride to adventure with a free mind, we have 24X7 Road Side Assistance for you. </p>
                
                <p> Ride to adventure with a free mind, we have 24X7 Road Side Assistance for you. </p>
                
                <p> Ride to adventure with a free mind, we have 24X7 Road Side Assistance for you. </p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="bs-component">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Helmets</h3>
            </div>
            <div class="panel-body">
                <p>Safety comes first for RentABike. We provide complimentary helmets for each ride. </p>
                
                <p>Safety comes first for RentABike. We provide complimentary helmets for each ride. </p>
                
                <p>Safety comes first for RentABike. We provide complimentary helmets for each ride. </p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div class="bs-component">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Pick up and Delivery</h3>
            </div>
            <div class="panel-body">
                <p> Pick up the vehicle from one of our locations or get it delivered to the place of your choice. </p>

                <p> Pick up the vehicle from one of our locations or get it delivered to the place of your choice. </p>

                <p> Pick up the vehicle from one of our locations or get it delivered to the place of your choice. </p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="bs-component">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Choose your Range</h3>
            </div>
            <div class="panel-body">
                <p> Choose your ride from a wide range of bikes and cars. We also have multiple pickup points in your vicinity. </p>

                <p> Choose your ride from a wide range of bikes and cars. We also have multiple pickup points in your vicinity. </p>

                <p> Choose your ride from a wide range of bikes and cars. We also have multiple pickup points in your vicinity. </p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="bs-component">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Keep Explore</h3>
            </div>
            <div class="panel-body">
                <p>Explore new places and share your experiences with us. </p>

                <p>Explore new places and share your experiences with us. </p>

                <p>Explore new places and share your experiences with us. </p>
            </div>
        </div>
    </div>
</div>