@model RentABike.Models.Bike
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Bike Detail's</h4>

<h1>@Model.Name</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Model
            </th>
            <th>
                CC
            </th>
            <th>
                Date Purchased
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>

            <td>
                @Model.Model.ToShortDateString()
            </td>
            <td>
                @Model.CubicCapacity.CC
            </td>
            <td>
                @Model.DateOfPurchase.ToShortDateString()
            </td>

        </tr>
    </tbody>
</table>






