@model RentABike.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Detail's</h2>


<p> @Model.Name</p>
<p>@Model.MembershipType.Name</p>
@if (Model.DateOfBirth.HasValue)
{
    <p>@Model.DateOfBirth.Value.ToShortDateString()</p>
}